    
*
    margin: 0
    padding: 0
    outline: 0
    font-size: 100%
    vertical-align: baseline


html
    font-family: Muli

body
    width: 100%

h1
    color: white
    font-family: Ubuntu, sans-serif
    font-size: 8em
    width: 80%


h2
    font-size: 2em
    font-weight: 600

h3
    font-size: 3em
    font-weight: 800

p
    font-family: Muli, sans-serif
    font-size: 1.25em
