*
    margin: 0
    padding: 0
    outline: 0
    font-size: 100%
    vertical-align: baseline


html
    font-family: Muli

body
    width: 100%

h1
    font-family: Tw Cen MT
    font-size: 130pt

h2
    font-size: 50pt
    font-weight: bold

h3
    font-size: 40pt
    font-weight: bold

p
    font-family: Muli
    font-size: 22pt
