    
*
    margin: 0
    padding: 0
    outline: 0
    font-size: 100%
    vertical-align: baseline


html
    font-family: Muli

body
    width: 100%

h1
    font-family: Assistant, 700
    font-size: 9vw

h2
    font-size: 4vw
    font-weight: bold

h3
    font-size: 3vw
    font-weight: bold

p
    font-family: 'Muli', sans-serif
    font-size: 1.8vw
