$custom-blue : #00DBDE;
$custom-purple: #FC00FF;
$custom-green: #FC00FF;
    
section {
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
}

.container {
    scroll-snap-type: y mandatory;
    -ms-scroll-snap-type: mandatory;
    }