@import global

$custom-blue : #00DBDE
$custom-purple: #FC00FF
$custom-green: #FC00FF

section 
    width: 100%
    height: 100vh

.hero_section
    background-image: url("/assets/Hero/svgs/Path\ 3.svg")
    background-repeat: no-repeat

.hero_section.p
    color: white

.hero_circle_1
    position: absolute
    width: 8vw
    padding: 3vw 0 0 38vw

.container 
    scroll-snap-type: y mandatory
    -ms-scroll-snap-type: mandatory
