@import global
@import loader
@import url('https://fonts.googleapis.com/css?family=Muli')
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800')
@import url('https://fonts.googleapis.com/css?family=Ubuntu')

$custom-blue : #00DBDE
$custom-orange: #ff8000
$custom-pink: #FC00FF
$custom-green: #FC00FF
$better-blue: #8594f6

$button-purple: #5E2EFF
$dark-grey: #434343

$dk-blue: #1E83AE
$blue: #3D5B94
$light-blue: #3DACDD
$green: #6dcd9a
$social-size: 1.2em
$social-width: 20%

//FONT SIZES PLEASE USE THESE INSTEAD OF VW
$hero-h1: 25em
$nav-text: 1.3em

section
    margin-left: 5%
    margin-right: 5%

nav
    margin-top: 3em
    text-align: right

nav a
    vertical-align: middle
    display: inline-block
    text-decoration: none
    color: black
    font-size: $nav-text
    margin-right: 2em

nav a:first-child
    float: left

nav a:last-child
    margin-left: 2em

img
    max-width: 100%
    vertical-align: middle
    display: inline-block
    border: 0

.hero-background
    width: 100vw
    position: absolute
    z-index: -99

header
    position: relative
    z-index: 99
    padding-left: 10%
    padding-right: 8%
    margin: 0 0 0 0
    // background: url('/assets/Hero/svgs/Hero_Background.svg') no-repeat center center fixed
    // background-size: cover
    // height: 100vh
    // min-height: 100%
    // needs latest Compass, add '@import "compass"' to your scss
    //background-color: #8b6bff
    // background-color: #21D4FD
    // background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%)
    // -webkit-clip-path: polygon(56% 0, 71% 12%, 86% 15%, 100% 16%, 100% 100%, 0 100%, 0 0)
    // clip-path: polygon(56% 0, 71% 12%, 86% 15%, 100% 16%, 100% 100%, 0 100%, 0 0)
    // background-image: url('https://codetheweb.blog/assets/img/posts/full-image-hero/image.jpg')ss

.bg-1
    top: 0
    left: 0
    position: absolute
    z-index: -98
    background-color: #21D4FD
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%)
    -webkit-clip-path: polygon(48% 0, 52% 10%, 58% 14%, 76% 13%, 87% 18%, 100% 13%, 100% 100%, 0 100%, 0 0)
    clip-path: polygon(48% 0, 52% 10%, 58% 14%, 76% 13%, 87% 18%, 100% 13%, 100% 100%, 0 100%, 0 0)
    height: 100vh
    width: 100vw

.center
    text-align: center
    display: flex
    justify-content: center

.styledinput
    margin: 8vh 0 0 0
    white-space: nowrap

    label
        display: block
        margin-bottom: 15px
        color: white
        font-size: 1em

        .subsubtitle
            font-size: 0.5em

    div
        transition: 0.2s
        height: inherit

    input
        padding: .85em 1.5em
        border-radius: 2em
        width: 30em
        letter-spacing: .3px
        height: 100%
        line-height: normal
        border: 1px solid #d3d3d3
    
    button
        transition: .1s
        border: 1px solid #E44DFF
        padding: 1em 1.5em
        border-radius: 2em
        margin-left: -4em
        font-weight: 500
        letter-spacing: .3px
        height: 100%
        background-color: #E44DFF
        color: #fff
        user-select: none
        cursor: pointer
        overflow: visible
        text-transform: none
    
    button:active, button:hover
        border: 1px solid #D616F7
        color: #fff
        background-color: #D616F7

form, iframe, noscript
    margin: 0 0 1.45rem
    padding: 0
    outline: 0

// .bg-2
//     top: 0
//     left: 0
//     position: absolute
//     z-index: -98
//     background-color: #8EC5FC
//     background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%)
//     height: 100vh
//     width: 100vw

.blue_rectangle
    position: absolute
    right: 0px
    top: 78vh
    overflow: hidden

.red_hexagon
    position: absolute
    right: 0px
    top: 88vh
    overflow: hidden

.small_yellow_circle
    position: absolute
    right: 120px
    top: 82vh
    overflow: hidden

.yellow_circle
    position: absolute
    left: -100px
    top: 85vh

.blue_circle
    position: absolute
    left: -260px
    top: 65vh
    
header h1
    margin-top: 10%

.info
    margin-top: 20vh
    padding: 0 0 20% 0

.yellow-dash
    position: absolute
    right: 0px
    bottom: -360px

.purple-triangle
    position: absolute

.purple-triangle-2
    position: relative
    left: 50%
    padding-top: 25%

.info-title
    padding: 0em 0 0 0
    margin: 0 auto
    text-align: center
    width: 40%
    position: relative

.info-text
    margin-top: 8em
    line-height: 1.7em
    display: block
    float: right
    width: 40%

.schedule
    h3
        background-image: url('/assets/Schedule/SVGs/Path 503.svg')
        background-repeat: no-repeat
        background-size: 10%
        background-position-x: -10px
        background-position-y: 20px
        padding: 5% 0 5% 0

.sponsors

.sponsors__list
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin: 20px 0

.sponsors__gold
    flex-direction: column
    align-items: center

.gold
    margin: 0 35px
    height: 225px

    img
        height: 100%

.sponsors__silver
    flex-direction: column
    align-items: center

.silver
    margin: 0 30px 30px
    height: 135px

    img
        height: 100%

img
    border-style: none

.sponsor-image
    opacity: 1
    transition: opacity .2s ease

.hero-blurb
    color: white
    width: 40%
    border-left: #FFA54A
    border-style: solid
    margin-top: 0em
    margin-bottom: 3em
    padding: 0 0em 0 1em
    border-top: none
    border-right: none
    border-bottom: none
    
.button-solid-purple
    position: relative
    z-index: 1
    display: inline-block
    text-decoration: none
    color: white
    font-size: 1.75em
    font-weight: 600
    background-color: $button-purple
    border-radius: 1000px
    line-height: 2em
    width: 8em
    height: 2em
    margin: 1em 0 0 0
    text-align: center

.button-solid-white
    display: inline-block
    text-decoration: none
    color: $dark-grey
    font-size: 1.75em
    font-weight: 600
    background-color: white
    border-radius: 1000px
    line-height: 2em
    width: 8em
    height: 2em
    margin: 1em 0 0 3em
    text-align: center

.button-outline
    display: inline-block
    text-decoration: none
    color: white
    font-size: 1.75em
    font-weight: 600
    border: 2px solid $button-purple
    border-radius: 1000px
    line-height: 2em
    width: 8em
    height: 2em
    margin: 1em 0 0 0
    text-align: center

.button-apply
    vertical-align: middle
    display: inline-block
    text-decoration: none
    color: black
    font-size: $nav-text
    font-weight: 600
    border: 2px solid $custom-orange
    border-radius: 1000px
    line-height: $nav-text*1.5
    width: $nav-text*5
    height: $nav-text*1.5
    text-align: center

.faqs
    margin-top: 2em
    display: flex
    flex-wrap: wrap
    justify-content: space-between

.faq-section
    flex: 0 0 45%
    margin: 0
    padding: 0

.faq
    box-sizing: inherit

.faq-qa
    h4
        margin-bottom: 0.75em

.faq-answer
    margin-bottom: 2.25rem

footer
    background-image: url('/assets/Footer/svgs/rocket.svg')
    background-repeat: no-repeat
    background-size: 25%
    background-position-x: -100px
    padding: 5% 0 3% 15%

    p
        display: inline-block

.footer-image
    position: absolute
    width: 35em
    height: auto

.footer-links
    float: right
    margin-right: 5%

    a
        text-decoration: none
        color: black
        font-size: $nav-text
        margin-left: 2em
    
    .social
        margin-right: 30em

    .important
        font-weight: 600

#insta
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%)
  -webkit-background-clip: text
          /* Also define standard property for compatibility */
          background-clip: text
  -webkit-text-fill-color: transparent