@import url("https://fonts.googleapis.com/css?family=Muli");
@import url("https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Ubuntu");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  font-family: Muli;
}

body {
  background: white;
}

a {
  color: #35b1ff;
}

h1 {
  color: white;
  font-family: Ubuntu, sans-serif;
  font-size: 4em;
}

h2 {
  font-size: 2em;
  font-weight: 600;
}

h3 {
  font-size: 3em;
  font-weight: 800;
}

p {
  font-family: Muli, sans-serif;
  font-size: 1.25em;
}

.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  z-index: 999999;
  overflow: hidden;
}

.load {
  position: relative;
  margin: 45vh auto;
  width: 120px;
  height: 180px;
}

.gear {
  position: absolute;
  z-index: -10;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 5s infinite;
          animation: spin 5s infinite;
  overflow: hidden;
}

.two {
  left: 40px;
  width: 80px;
  height: 80px;
  -webkit-animation: spin-reverse 5s infinite;
          animation: spin-reverse 5s infinite;
}

.three {
  top: 45px;
  left: -10px;
  width: 60px;
  height: 60px;
}

@-webkit-keyframes spin {
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes spin-reverse {
  50% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes spin-reverse {
  50% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

.lil-circle {
  position: absolute;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 10px 2px gray, 0 0 50px white;
          box-shadow: inset 0 0 10px 2px gray, 0 0 50px white;
  width: 100px;
  height: 100px;
  opacity: .65;
}

.blur-circle {
  position: absolute;
  top: -19px;
  left: -19px;
}

#fraserhacks-logo {
  width: 120px;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  border-style: none;
}

.center {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1120px;
}

header {
  text-align: center;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.hero-add-bg {
  background-color: #8EC5FC;
  background-image: url("/assets/Hero/pngs/blobs.png");
  background-image: url("/assets/Hero/pngs/blobs.png"), -webkit-gradient(linear, left top, left bottom, from(#68b3fa), color-stop(50%, #c184f6), to(#ffffff));
  background-image: url("/assets/Hero/pngs/blobs.png"), linear-gradient(180deg, #68b3fa 0%, #c184f6 50%, #ffffff 100%);
  background-repeat: no-repeat;
  background-position: right top;
}

nav {
  margin: 2em auto 0;
  max-width: 800px;
}

nav ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  font-size: 1.25em;
  color: white;
  font-weight: 700;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding-bottom: 10em;
}

.hero .blurb {
  font-size: 1em;
  font-weight: 400;
  max-width: 1000px;
  line-height: 1.5em;
  margin: 1em auto;
  color: white;
}

.hero .blurb:before {
  content: "";
  display: block;
  width: 120px;
  border: 2px solid #ff8000;
  margin: 1em auto;
}

figure {
  text-align: center;
}

figure img {
  margin: 3em auto 0;
  width: 300px;
}

.hero-image {
  margin-top: 0em;
  display: none;
}

.styledinput {
  width: 35em;
  margin: 6em 0 0 0;
}

.styledinput label {
  display: block;
  margin-bottom: 15px;
  color: #333333;
  font-size: 1em;
}

.styledinput label .subsubtitle {
  font-size: 0.5em;
}

.styledinput div {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  height: inherit;
}

.styledinput input {
  padding: .85em 1.5em;
  border-radius: 2em;
  width: 10em;
  letter-spacing: .3px;
  height: 100%;
  line-height: normal;
  border: 1px solid #d3d3d3;
}

.styledinput button {
  -webkit-transition: .1s;
  transition: .1s;
  border: 1px solid #E44DFF;
  padding: 1em 1.5em;
  border-radius: 2em;
  margin-left: -4em;
  font-weight: 500;
  letter-spacing: .3px;
  height: 100%;
  background-color: #E44DFF;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  overflow: visible;
  text-transform: none;
}

.styledinput button:active, .styledinput button:hover {
  border: 1px solid #D616F7;
  color: #fff;
  background-color: #D616F7;
}

form, iframe, noscript {
  margin: 0 0 1.45rem;
  padding: 0;
  outline: 0;
}

.info {
  margin-top: 10em;
}

.info-title {
  padding: 0em 0 0 0;
  margin: 0 auto;
  text-align: center;
  width: 40%;
  position: relative;
}

.info-text {
  margin-top: 8em;
  line-height: 1.7em;
  display: block;
  float: right;
  width: 40%;
}

.schedule h3 {
  background-image: url("/assets/Schedule/SVGs/Path 503.svg");
  background-repeat: no-repeat;
  background-size: 10%;
  background-position-x: -10px;
  background-position-y: 20px;
  padding: 5% 0 5% 0;
}

.sponsors__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
}

.sponsors__gold {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gold {
  margin: 0 35px;
  height: 225px;
}

.gold img {
  height: 100%;
}

.sponsors__silver {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.silver {
  margin: 0 30px 30px;
  height: 135px;
}

.silver img {
  height: 100%;
}

.sponsor-image {
  opacity: 1;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

.sponsor-image:hover {
  opacity: .8;
}

.button-solid-purple {
  position: relative;
  z-index: 1;
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  background-color: #5E2EFF;
  border-radius: 1000px;
  line-height: 2em;
  width: 7em;
  height: 2em;
  margin: 1em 0 0 0;
  text-align: center;
}

.button-solid-white {
  display: inline-block;
  text-decoration: none;
  color: #434343;
  font-size: 1.2em;
  font-weight: 600;
  background-color: white;
  border-radius: 1000px;
  line-height: 2em;
  width: 7em;
  height: 2em;
  margin: 1em 0 0 3em;
  text-align: center;
}

.button-apply {
  border-bottom: 3px solid #5E2EFF;
  color: #5E2EFF;
  font-weight: 800;
}

.faqs {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.faq-section {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  margin: 0;
  padding: 0;
}

.faq {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.faq-qa h4 {
  margin-bottom: 0.75em;
}

.faq-answer {
  margin-bottom: 2.25rem;
}

footer {
  background-image: url("/assets/Footer/svgs/rocket.svg");
  background-repeat: no-repeat;
  background-size: 25%;
  background-position-x: -100px;
  padding: 5% 0 3% 15%;
}

footer p {
  display: inline-block;
}

.footer-image {
  position: absolute;
  width: 35em;
  height: auto;
}

.footer-links {
  float: right;
  margin-right: 5%;
}

.footer-links a {
  text-decoration: none;
  color: black;
  font-size: 1.3em;
  margin-left: 2em;
}

.footer-links .social {
  margin-right: 30em;
}

.footer-links .important {
  font-weight: 600;
}

#insta {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  /* Also define standard property for compatibility */
  -webkit-background-clip-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 1450px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1360px;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav {
    margin: 0;
  }
  nav ul {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav ul li {
    list-style: none;
    padding: 0.5em 2em;
  }
  nav ul li a {
    font-size: 1.375em;
    color: white;
    font-weight: 700;
    text-decoration: none;
  }
  .styledinput input {
    width: 29em;
    white-space: nowrap !important;
  }
  main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
  .hero-image {
    margin-top: 10em;
    padding-left: 15em;
    display: inline-block;
  }
  .hero {
    padding-top: 10em;
    text-align: left;
  }
  .hero h1 {
    font-size: 8em;
  }
  .hero .blurb {
    font-size: 1.2em;
    font-weight: 400;
    max-width: 1000px;
    line-height: 1.5em;
    margin: 1em auto;
    color: white;
  }
  .hero .blurb:before {
    content: "";
    display: block;
    width: 120px;
    border: 2px solid #ff8000;
    margin: 1em 0 1em 0;
  }
  .button-solid-purple {
    position: relative;
    z-index: 1;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-weight: 600;
    background-color: #5E2EFF;
    border-radius: 1000px;
    line-height: 2.5em;
    width: 8em;
    height: 2.5em;
    margin: 1em 0 0 0;
    text-align: center;
  }
  .button-solid-white {
    display: inline-block;
    text-decoration: none;
    color: #434343;
    font-size: 1.5em;
    font-weight: 600;
    background-color: white;
    border-radius: 1000px;
    line-height: 2.5em;
    width: 8em;
    height: 2.5em;
    margin: 1em 0 0 3em;
    text-align: center;
  }
}

@media screen and (min-width: 1060px) and (max-width: 1449px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1000px;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav {
    margin: 0;
  }
  nav ul {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav ul li {
    list-style: none;
    padding: 0.5em 2em;
  }
  nav ul li a {
    font-size: 1.375em;
    color: white;
    font-weight: 700;
    text-decoration: none;
  }
  .styledinput input {
    width: 23em;
    white-space: nowrap;
  }
  main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
  .hero-image {
    margin-top: 12em;
    display: inherit;
  }
  .hero {
    padding-top: 10em;
    text-align: left;
  }
  .hero h1 {
    font-size: 8em;
  }
  .hero .blurb {
    font-size: 1.2em;
    font-weight: 400;
    max-width: 1000px;
    line-height: 1.5em;
    margin: 1em auto;
    color: white;
  }
  .hero .blurb:before {
    content: "";
    display: block;
    width: 120px;
    border: 2px solid #ff8000;
    margin: 1em 0 1em 0;
  }
  .button-solid-purple {
    position: relative;
    z-index: 1;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-weight: 600;
    background-color: #5E2EFF;
    border-radius: 1000px;
    line-height: 2.5em;
    width: 8em;
    height: 2.5em;
    margin: 1em 0 0 0;
    text-align: center;
  }
  .button-solid-white {
    display: inline-block;
    text-decoration: none;
    color: #434343;
    font-size: 1.5em;
    font-weight: 600;
    background-color: white;
    border-radius: 1000px;
    line-height: 2.5em;
    width: 8em;
    height: 2.5em;
    margin: 1em 0 0 3em;
    text-align: center;
  }
}

@media screen and (min-width: 800px) and (max-width: 1059px) {
  * {
    overflow-x: hidden;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 800px;
    padding-left: 30px;
    padding-right: 30px;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav {
    margin: 0;
  }
  nav ul {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav ul li {
    list-style: none;
    padding: 0.5em 2em;
  }
  nav ul li a {
    font-size: 1.375em;
    color: white;
    font-weight: 700;
    text-decoration: none;
  }
  .styledinput {
    width: 40em;
  }
  .styledinput input {
    width: 30em;
    white-space: nowrap;
  }
  main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
  .hero {
    padding-top: 2em;
    text-align: left;
  }
  .hero h1 {
    font-size: 8em;
  }
  .hero .blurb {
    font-size: 1.2em;
    font-weight: 400;
    max-width: 1000px;
    line-height: 1.5em;
    margin: 1em auto;
    color: white;
  }
  .hero .blurb:before {
    content: "";
    display: block;
    width: 120px;
    border: 2px solid #ff8000;
    margin: 1em 0 1em 0;
  }
  .button-solid-purple {
    position: relative;
    z-index: 1;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-weight: 600;
    background-color: #5E2EFF;
    border-radius: 1000px;
    line-height: 2.5em;
    width: 8em;
    height: 2.5em;
    margin: 1em 0 0 0;
    text-align: center;
  }
  .button-solid-white {
    display: inline-block;
    text-decoration: none;
    color: #434343;
    font-size: 1.5em;
    font-weight: 600;
    background-color: white;
    border-radius: 1000px;
    line-height: 2.5em;
    width: 8em;
    height: 2.5em;
    margin: 1em 0 0 3em;
    text-align: center;
  }
}

@media screen and (min-width: 510px) and (max-width: 799px) {
  .styledinput {
    margin: 6em auto;
    width: 30em;
  }
  .styledinput input {
    width: 20em;
  }
  .button-solid-purple {
    position: relative;
    z-index: 1;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-weight: 600;
    background-color: #5E2EFF;
    border-radius: 1000px;
    line-height: 2.5em;
    width: 8em;
    height: 2.5em;
    margin: 1em 0 0 0;
    text-align: center;
  }
  .button-solid-white {
    display: inline-block;
    text-decoration: none;
    color: #434343;
    font-size: 1.5em;
    font-weight: 600;
    background-color: white;
    border-radius: 1000px;
    line-height: 2.5em;
    width: 8em;
    height: 2.5em;
    margin: 1em 0 0 3em;
    text-align: center;
  }
}

@media screen and (min-width: 430px) and (max-width: 509px) {
  .styledinput {
    margin: 6em auto;
    word-wrap: break-word;
    width: 25em;
  }
  .styledinput input {
    width: 15em;
  }
  .hero h1 {
    font-size: 6em;
  }
  .hero .blurb {
    font-size: 1em;
  }
}
/*# sourceMappingURL=main.css.map */