@import url("https://fonts.googleapis.com/css?family=Chakra+Petch:700");
@import url("https://fonts.googleapis.com/css?family=Muli:300,400,700");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-display: 100%;
}

body {
  background-color: #13191E;
  color: white;
}

img {
  vertical-align: middle;
  border-style: none;
}

form, iframe, noscript {
  margin: 0 0 1.45rem;
  padding: 0;
  outline: 0;
}

#insta {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  /* Also define standard property for compatibility */
  -webkit-background-clip-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  width: 257px;
  margin: 0 auto;
}

.info.valid {
  color: green;
  text-align: center;
  width: 100%;
}

.info.error {
  color: red;
  text-align: center;
  width: 100%;
}

.info_svg {
  margin-right: 10%;
  display: block;
  margin: auto;
}

.info {
  padding-top: 10px;
}

img {
  vertical-align: middle;
  border-style: none;
}

.img-jfss {
  display: block;
  margin: 0 auto;
  width: 80%;
}

.absolute-asset {
  position: absolute;
  z-index: -999999;
  margin: 0;
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.map-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.hero {
  background-image: url("../../assets/Hero/bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 100;
  position: relative;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.scroll-down {
  position: absolute;
  bottom: 50px;
  display: none;
  text-align: center;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0;
  width: 28px;
  height: 28px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  z-index: 9;
  left: 45%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
          transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 4s ease-in-out infinite;
          animation: fade_move_down 4s ease-in-out infinite;
}

/* Mixins */
/* bg shortcodes */
.bg-gradient1 span,
.bg-gradient1:before {
  background: #1FA2FF;
  background: -webkit-gradient(linear, left top, left bottom, from(#1FA2FF), color-stop(80%, #12D8FA), to(#12D8FA));
  background: linear-gradient(180deg, #1FA2FF 0%, #12D8FA 80%, #12D8FA 100%);
}

.bg-gradient2 span,
.bg-gradient2:before {
  background: #4776E6;
  background: -webkit-gradient(linear, left top, right top, from(#4776E6), color-stop(80%, #8E54E9), to(#8E54E9));
  background: linear-gradient(90deg, #4776E6 0%, #8E54E9 80%, #8E54E9 100%);
}

.pop-onhover.bg-gradient3 span,
.pop-onhover.bg-gradient3:before {
  background: #B9AEF0;
  background: -webkit-gradient(linear, left top, left bottom, from(#B9AEF0), color-stop(80%, #ADA1EB), to(#ADA1EB));
  background: linear-gradient(180deg, #B9AEF0 0%, #ADA1EB 80%, #ADA1EB 100%);
}

.bg-gradient4 span {
  background: #F6682F;
  background: -webkit-gradient(linear, left top, left bottom, from(#F6682F), color-stop(80%, #F6682F), to(#F6682F));
  background: linear-gradient(180deg, #F6682F 0%, #F6682F 80%, #F6682F 100%);
}

.fancy-button {
  display: inline-block;
  margin: 20px;
  font-family: 'Muli', sans-serif;
  font-weight: bold;
  font-size: 1.25em;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  line-height: 24px;
  color: #ffffff;
  position: relative;
}

.fancy-button.bg-gradient1 {
  text-shadow: 0px 0px 1px #0c5991;
}

.fancy-button.bg-gradient2 {
  text-shadow: 0px 0px 1px #12504f;
}

.fancy-button.bg-gradient3 {
  text-shadow: 0 0 1px #546082;
}

.fancy-button:before {
  content: '';
  display: inline-block;
  height: 40px;
  position: absolute;
  bottom: -1px;
  left: 10px;
  right: 10px;
  z-index: -1;
  border-radius: 2em;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.fancy-button span {
  display: inline-block;
  padding: 16px 20px;
  border-radius: 50em;
  position: relative;
  z-index: 2;
  will-change: transform, filter;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.fancy-button:focus {
  color: #ffffff;
}

.fancy-button:hover {
  color: #ffffff;
}

.fancy-button:hover span {
  -webkit-filter: brightness(0.9) contrast(1.2);
          filter: brightness(0.9) contrast(1.2);
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

.fancy-button:hover:before {
  bottom: 3px;
  -webkit-filter: blur(6px) brightness(0.8);
          filter: blur(6px) brightness(0.8);
}

.fancy-button:active span {
  -webkit-filter: brightness(0.75) contrast(1.7);
          filter: brightness(0.75) contrast(1.7);
}

.fancy-button.pop-onhover span {
  border-radius: 4px;
}

.fancy-button.pop-onhover:before {
  opacity: 0;
  bottom: 10px;
}

.fancy-button.pop-onhover:hover:before {
  bottom: -7px;
  opacity: 1;
  -webkit-filter: blur(16px);
          filter: blur(16px);
}

.fancy-button.pop-onhover:hover span {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.fancy-button.pop-onhover:hover:active span {
  -webkit-filter: brightness(1) contrast(1);
          filter: brightness(1) contrast(1);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.fancy-button.pop-onhover:hover:active:before {
  bottom: 0;
  -webkit-filter: blur(5px) brightness(0.85);
          filter: blur(5px) brightness(0.85);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.pop-onhover.bg-gradient3 span:hover {
  background: #B9AEF0;
  background: linear-gradient(120deg, #B9AEF0 0%, #ADA1EB 80%, #ADA1EB 100%);
}

.bg-gradient4:before {
  bottom: 2px;
  opacity: 0.6;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.bg-gradient4 {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.bg-gradient4 span {
  outline: 0px solid transparent;
}

.bg-gradient4:hover span {
  background: #FC3D7C;
  background: linear-gradient(-25deg, #FC3D7C 0%, #F76A34 80%, #F76A34 100%);
}

.bg-gradient4:focus span,
.bg-gradient4:active span {
  background: #FC3D7C;
  background: linear-gradient(25deg, #FC3D7C 0%, #F76A34 80%, #F76A34 100%);
}

.bg-gradient4:focus span {
  -webkit-box-shadow: 0 0 9px #00FFF8;
          box-shadow: 0 0 9px #00FFF8;
}

.bg-gradient4:active span {
  -webkit-filter: brightness(0.85) contrast(1.3);
          filter: brightness(0.85) contrast(1.3);
}

.bg-gradient4 span {
  text-transform: capitalize;
}

/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0% {
    -webkit-transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}

@keyframes fade_move_down {
  0% {
    -webkit-transform: translate(0, -10px) rotate(45deg);
            transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 10px) rotate(45deg);
            transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}

.hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-content #hero-logo {
  position: relative;
  height: 33.33333vh;
  max-width: 75vw;
  margin-top: 2em;
  margin-bottom: 5em;
}

.hero-content h2 {
  font-family: 'Chakra Petch', sans-serif;
  color: white;
  text-align: center;
  font-weight: 700;
  font-size: 2em;
}

.hero-content h3 {
  margin-top: 1em;
  font-family: 'Muli', sans-serif;
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 1.2em;
  margin-top: 0em;
}

.hero-content .signup {
  text-align: center;
  margin-top: 1em;
  font-family: 'Muli', sans-serif;
}

.hero-content .signup label {
  display: block;
  margin-bottom: 15px;
  font-size: 1.25em;
}

.hero-content .signup a {
  text-decoration: none;
}

.hero-content .signup a:hover, .hero-content .signup a:focus, .hero-content .signup a:active {
  text-decoration: none;
}

.hero-content .mailinglist-alert {
  font-family: 'Muli', sans-serif;
  text-align: center;
  color: #24e77c;
  margin-top: -4em;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hero-content .mailinglist {
  text-align: center;
  margin-top: 5em;
  font-family: 'Muli', sans-serif;
}

.hero-content .mailinglist label {
  display: block;
  margin-bottom: 15px;
  font-size: 1em;
}

.hero-content .mailinglist input {
  font-family: 'Muli', sans-serif;
  padding: 12px;
  margin-top: .5em;
  border-radius: 50px;
  width: 16em;
  letter-spacing: .3px;
  font-size: 1.05em;
  height: 100%;
  line-height: normal;
  outline: 0;
  border: 0px solid;
}

.hero-content .mailinglist button {
  z-index: 999;
  font-family: 'Muli', sans-serif;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 50px;
  padding: 10.5px;
  font-weight: 700;
  font-size: 1.12em;
  letter-spacing: .3px;
  height: 100%;
  border: 1px solid #3e81d8;
  background-color: #3e81d8;
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.hero-content .mailinglist button:hover {
  border: 1px solid #10396e;
  background-color: #10396e;
}

.about {
  font-family: 'Muli', sans-serif;
  margin-top: 1em;
}

.about a {
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#1FA2FF), color-stop(51%, #12D8FA), to(#1FA2FF));
  background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%);
  background-repeat: no-repeat;
  background-size: 300% .1em;
  background-position: 0 100%;
  color: white;
  -webkit-animation: Gradient 1.5s ease infinite;
          animation: Gradient 1.5s ease infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 100%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 100%;
  }
}

.about :hover {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.about p {
  margin-top: 2em;
  text-align: center;
  font-family: 'Muli', sans-serif;
  color: #dfdfdf;
  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.5em;
}

.about .map-responsive {
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
  height: 0;
}

.about .map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.about .about-blurb {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5em auto;
  text-align: center;
}

.about .about-blurb h1 {
  font-size: 2.5em;
  font-weight: 400;
}

.about .left {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 100%;
}

.about .right {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 300px;
}

.about .right h2 {
  text-align: center;
}

.about .squig-yellow {
  right: 0px;
  top: 1680px;
  max-width: 20%;
  max-height: 20%;
  overflow: hidden;
}

.about .triangle-purple {
  top: 1280px;
  left: -120px;
  display: none;
}

.about .triangle-purple-2 {
  top: 950px;
  left: 50px;
  display: none;
}

#svg {
  margin-top: -5em;
  margin-bottom: -3em;
}

.schedule {
  margin-top: 20em;
}

.schedule h1 {
  font-family: 'Muli', sans-serif;
  font-weight: 700;
  font-size: 2.25em;
  text-align: center;
  margin-top: 3em;
}

.schedule h2 {
  font-family: 'Muli', sans-serif;
  font-weight: 700;
  font-size: 1.75em !important;
  color: #dddddd;
  text-align: center;
  margin: 3em auto 0 auto;
}

.schedule .underline--magical {
  background-image: linear-gradient(135deg, #FEB692 10%, #EA5455 100%);
  background-repeat: no-repeat;
  background-size: 300% .05em;
  background-position: 0 100%;
  -webkit-animation: Gradient 2s ease infinite;
          animation: Gradient 2s ease infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@keyframes Gradient {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 100%;
  }
}

.schedule :hover {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.schedule .x-green {
  top: 1520px;
  display: none;
}

.sponsors {
  margin-top: 10em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sponsors h1 {
  font-family: 'Muli', sans-serif;
  font-weight: 700;
  font-size: 2.25em;
  text-align: center;
}

.sponsors h2 {
  font-family: 'Muli', sans-serif;
  font-weight: 700;
  font-size: 1.75em;
  color: white;
  text-align: center;
}

.sponsors h3 {
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  font-size: 1.25em;
  color: #dddddd;
  text-align: center;
}

.sponsors h3 a {
  text-decoration: none;
  background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
  background-repeat: no-repeat;
  background-size: 300% .1em;
  background-position: 0 100%;
  color: white;
  -webkit-animation: Gradient 1.5s ease infinite;
          animation: Gradient 1.5s ease infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@keyframes Gradient {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 100%;
  }
}

.sponsors h3 :hover {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.sponsors .logo {
  padding: 1.5rem;
}

.sponsors .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.sponsors .justify-content-center {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.sponsors .img-fluid {
  max-width: 100%;
  max-height: 20vh;
  height: auto;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.sponsors .img-fluid:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.sponsors .underline--magical {
  background-image: linear-gradient(56deg, #08AEEA 0%, #2AF598 100%);
  background-repeat: no-repeat;
  background-size: 300% .05em;
  background-position: 0 100%;
  -webkit-animation: Gradient 2s ease infinite;
          animation: Gradient 2s ease infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@keyframes Gradient {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 100%;
  }
}

.sponsors :hover {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.sponsors .circle-pink {
  top: 2200px;
  right: 0px;
  display: none;
}

.faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10em;
}

.faq h1 {
  font-family: 'Muli', sans-serif;
  font-weight: 700;
  font-size: 2.25em;
  text-align: center;
  margin-bottom: 1em;
}

.faq h3 {
  font-family: 'Muli', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
}

.faq p {
  margin-top: 0.25em;
  margin-bottom: 2em;
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  font-size: 1.25em;
  line-height: 1.5em;
  padding-right: 2em;
}

.faq a {
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#1FA2FF), color-stop(51%, #12D8FA), to(#1FA2FF));
  background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%);
  background-repeat: no-repeat;
  background-size: 500% .1em;
  background-position: 0 100%;
  color: white;
  -webkit-animation: Gradient 1.5s ease infinite;
          animation: Gradient 1.5s ease infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@keyframes Gradient {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 100%;
  }
}

.faq :hover {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.faq .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.faq .faq-qa {
  margin-top: 1em;
  position: relative;
  width: 100%;
  min-height: 1px;
}

.faq .underline--magical {
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
  background-repeat: no-repeat;
  background-size: 300% .05em;
  background-position: 0 100%;
  -webkit-animation: Gradient 2s ease infinite;
          animation: Gradient 2s ease infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@keyframes Gradient {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 100%;
  }
}

.faq :hover {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.faq .circle-green {
  top: 3000px;
  left: -120px;
}

.map {
  margin-top: 10em;
}

.map .resp-container {
  position: relative;
  overflow: hidden;
  padding-top: 75%;
}

.map .resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.map h1 {
  font-family: 'Muli', sans-serif;
  font-weight: 700;
  font-size: 2.25em;
  text-align: center;
  margin-bottom: 1em;
}

.map a {
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#1FA2FF), color-stop(51%, #12D8FA), to(#1FA2FF));
  background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%);
  background-repeat: no-repeat;
  background-size: 100% .1em;
  background-position: 0 100%;
  color: white;
}

.map p {
  margin-top: 2em;
  text-align: center;
  font-family: 'Muli', sans-serif;
  color: #dfdfdf;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.5em;
}

.map .left {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 100%;
  max-height: 75vh;
}

.map .right {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 100%;
  /* Clearfix */
}

.map .right .alert {
  text-align: center;
  padding: 10px;
  background: #79c879;
  font-size: 1.1em;
  color: #fff;
  margin-bottom: 10px;
  display: none;
  font-family: 'Muli', sans-serif;
}

.map .right h2 {
  text-align: center;
}

.map .right form {
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
}

.map .right form input,
.map .right form textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  font-size: 1.1em;
  display: block;
  width: 100%;
  margin-bottom: .6em;
  font-family: 'Muli', sans-serif;
  resize: none;
}

.map .right form #input-submit {
  color: white;
  background: #3e81d8;
  cursor: pointer;
}

.map .right form textarea {
  height: 300px;
}

.map .right .cf:before,
.map .right .cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.map .right .cf:after {
  clear: both;
}

.map .underline--magical {
  background-image: -webkit-gradient(linear, left top, right top, from(#ee0979), to(#ff6a00));
  background-image: linear-gradient(to right, #ee0979, #ff6a00);
  background-repeat: no-repeat;
  background-size: 300% .05em;
  background-position: 0 100%;
  -webkit-animation: Gradient 2s ease infinite;
          animation: Gradient 2s ease infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@keyframes Gradient {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 100%;
  }
}

.map :hover {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Muli', sans-serif;
  padding-bottom: 0em;
  padding-top: 5em;
}

footer .footer-content {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  white-space: nowrap;
  padding-left: 0.25em;
  padding-right: 0.25em;
  margin-bottom: 5em;
  width: 95%;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-content a {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  padding-left: 0.75em;
  padding-right: 0.75em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

@media only screen and (min-width: 320px) {
  .container {
    width: 300px;
  }
  .map .right form textarea {
    height: 200px;
  }
}

@media only screen and (min-width: 383px) {
  .hero-content .mailinglist input {
    width: 20em;
  }
  .hero-content .mailinglist button {
    margin-left: -5em;
    padding: 10.6px;
    border-radius: 0 50px 50px 0;
  }
}

@media only screen and (min-width: 473px) {
  .scroll-down {
    display: block;
  }
  .container {
    width: 423px;
  }
  .map .right form {
    max-width: 423px;
  }
  .hero-content .mailinglist input {
    width: 22em;
  }
  .hero-content .mailinglist button {
    margin-left: -5em;
    padding: 11px;
  }
}

@media only screen and (max-width: 999px) {
  .info_svg {
    margin-top: 0%;
    display: block;
    margin: auto;
    float: none;
  }
}

@media only screen and (min-width: 492px) {
  .scroll-down {
    left: 49%;
  }
  .hero-content .mailinglist button {
    padding: 10.58px;
  }
  .schedule {
    margin-top: 10em;
  }
  footer a {
    margin-left: 0em !important;
    margin-right: 0em !important;
  }
  footer .footer-content {
    margin-bottom: 3em;
  }
}

@media only screen and (min-width: 674px) {
  .container {
    width: 624px;
  }
  .map .right form {
    max-width: 624px;
  }
  .hero-content h2 {
    font-size: 4em;
  }
  .hero-content h3 {
    font-size: 1.5em;
  }
  .hero-content a {
    font-size: 1.5em;
  }
  .hero-content .mailinglist input {
    width: 30em;
  }
  .hero-content .mailinglist button {
    margin-left: -4em;
  }
  .about p {
    font-size: 1.25em;
  }
  .sponsors .circle-pink {
    top: 2200px;
    right: 0px;
    display: inline;
  }
}

@media only screen and (min-width: 1010px) and (max-width: 1400px) {
  .info_svg {
    margin-top: 13%;
  }
}

@media only screen and (min-width: 1010px) {
  .container {
    width: 960px;
  }
  .map .right form {
    max-width: 423px;
  }
  .map .right form textarea {
    height: 90px;
  }
  .about-container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .map-container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .about p {
    text-align: left;
  }
  .about .map-responsive {
    padding-bottom: 56.25%;
  }
  .about .map-responsive iframe {
    width: 90%;
  }
  .about .right h2 {
    text-align: left;
  }
  .about .squig-yellow {
    right: 0px;
    top: 1480px;
    max-width: 25%;
    max-height: 25%;
    overflow: hidden;
  }
  .about .triangle-purple {
    top: 1280px;
    left: -50px !important;
    display: inline;
  }
  .about .triangle-purple-2 {
    display: inline;
  }
  .schedule h1 {
    text-align: left;
  }
  .schedule h2 {
    font-size: 2em;
  }
  .schedule h3 {
    font-size: 1.5em;
  }
  .schedule .x-green {
    top: 1520px;
    left: -75px;
    display: inline;
  }
  .sponsors h1 {
    text-align: left;
  }
  .faq h1 {
    text-align: left;
  }
  .faq .faq-qa {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .faq .circle-green {
    top: 3000px;
    left: -20px;
  }
  .map h1 {
    text-align: left;
  }
  footer a {
    margin-left: 1em !important;
    margin-right: 1em !important;
  }
}

@media only screen and (min-width: 1576px) {
  .container {
    width: 1320px;
  }
  .map .right form {
    max-width: 600px;
  }
  .map .right form textarea {
    height: 225px;
  }
  .about .map-responsive {
    padding-bottom: 56.25%;
  }
  .about .triangle-purple {
    top: 1280px;
    left: 0px !important;
  }
  #svg {
    margin-top: -10em;
  }
  .schedule {
    margin-top: 0;
  }
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin-top: 2em;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  font-family: 'Muli', sans-serif;
}

table tr {
  background-color: #13191E;
  border: 1px solid #2a3944;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }
  table caption {
    font-size: 1.3em;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  table td::before {
    /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  table td:last-child {
    border-bottom: 0;
  }
}
/*# sourceMappingURL=main.css.map */