@import "_global";
@import url('https://fonts.googleapis.com/css?family=Chakra+Petch:700');
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700');

.container {
    width: 257px;
    margin: 0 auto;
}

.info.valid {
    color: green;
    text-align: center;
    width: 100%
}

.info.error {
    color: red;
    text-align: center;
    width: 100%;
}

.info_svg {
    margin-right: 10%;
    display: block;
    margin: auto;
}

.info {
    padding-top: 10px;
}

img {
    vertical-align: middle;
    border-style: none;
}

.img-jfss {
    display: block;
    margin: 0 auto;
    width: 80%;
}

.absolute-asset {
    position: absolute;
    z-index: -999999;
    margin: 0;
}

.about-container {
    //max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.map-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.hero {
    background-image: url('../../assets/Hero/bg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 100;
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-down {
    position: absolute;
    bottom: 50px;
    display: none;
    text-align: center;
    font-size: 20px;
    z-index: 100;
    text-decoration: none;
    text-shadow: 0;
    width: 28px;
    height: 28px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    z-index: 9;
    left: 45%;
    transform: translate(-50%, 0%) rotate(45deg);
    animation: fade_move_down 4s ease-in-out infinite;
}

$neon: #00FFF8;

/* Mixins */
@mixin gradientBg($direction, $startColor, $endColor) {
    background: $startColor;
    background: -moz-linear-gradient($direction, $startColor 0%, $endColor 80%, $endColor 100%);
    background: -webkit-linear-gradient($direction, $startColor 0%, $endColor 80%, $endColor 100%);
    background: linear-gradient($direction, $startColor 0%, $endColor 80%, $endColor 100%);
}

/* bg shortcodes */
.bg-gradient1 span,
.bg-gradient1:before {
    @include gradientBg(180deg, #1FA2FF, #12D8FA);
}

.bg-gradient2 span,
.bg-gradient2:before {
    @include gradientBg(90deg, #4776E6, #8E54E9);
}

.pop-onhover.bg-gradient3 span,
.pop-onhover.bg-gradient3:before {
    @include gradientBg(180deg, #B9AEF0, #ADA1EB);
}

.bg-gradient4 span {
    @include gradientBg(180deg, #F6682F, #F6682F);
}

.fancy-button {
    display: inline-block;
    margin: 20px;
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    font-size: 1.25em;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    line-height: 24px;
    color: #ffffff;
    position: relative;

    &.bg-gradient1 {
        text-shadow: 0px 0px 1px #0c5991;
    }

    &.bg-gradient2 {
        text-shadow: 0px 0px 1px #12504f;
    }

    &.bg-gradient3 {
        text-shadow: 0 0 1px #546082;
    }

    &:before {
        content: '';
        display: inline-block;
        height: 40px;
        position: absolute;
        bottom: -1px;
        left: 10px;
        right: 10px;
        z-index: -1;
        border-radius: 2em;
        transform-style: preserve-3d;
        transition: all 0.3s ease-out;
    }

    span {
        display: inline-block;
        padding: 16px 20px;
        border-radius: 50em;
        position: relative;
        z-index: 2;
        will-change: transform, filter;
        transform-style: preserve-3d;
        transition: all 0.3s ease-out;
    }

    &:focus {
        color: #ffffff;
    }

    &:hover {
        color: #ffffff;

        span {
            filter: brightness(.9) contrast(1.2);
            transform: scale(0.96);
        }

        &:before {
            bottom: 3px;
            filter: blur(6px) brightness(0.8);
        }
    }

    &:active span {
        filter: brightness(.75) contrast(1.7);
    }

    &.pop-onhover {
        span {
            border-radius: 4px;
        }

        &:before {
            opacity: 0;
            bottom: 10px;
        }

        &:hover {
            &:before {
                bottom: -7px;
                opacity: 1;
                filter: blur(16px);
            }

            span {
                // transform: scale(1.03);
                transform: scale(1);
            }

            &:active {
                span {
                    filter: brightness(1) contrast(1);
                    transform: scale(1);
                    transition: all 0.2s ease-out;
                }

                &:before {
                    bottom: 0;
                    filter: blur(5px) brightness(0.85);
                    transition: all 0.2s ease-out;
                }
            }
        }
    }
}

.pop-onhover.bg-gradient3 span:hover {
    @include gradientBg(120deg, #B9AEF0, #ADA1EB);
}


//solid to gradient

.bg-gradient4:before {
    bottom: 2px;
    opacity: 0.6;
    transition: all 0.3s ease-out;
}

.bg-gradient4 {
    transition: all 1s ease;

    span {
        outline: 0px solid transparent;
    }

    &:hover span {
        @include gradientBg(-25deg, #FC3D7C, #F76A34);
    }

    &:focus span,
    &:active span {
        @include gradientBg(25deg, #FC3D7C, #F76A34);
    }

    &:focus span {
        // outline: 2px solid $neon;
        box-shadow: 0 0 9px $neon;
    }

    &:active span {
        filter: brightness(.85) contrast(1.3);
    }
}

.bg-gradient4 span {
    text-transform: capitalize;
}

/*animated scroll arrow animation*/

@-webkit-keyframes fade_move_down {
    0% {
        -webkit-transform: translate(0, -10px) rotate(45deg);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translate(0, 10px) rotate(45deg);
        opacity: 0;
    }
}

@-moz-keyframes fade_move_down {
    0% {
        -moz-transform: translate(0, -10px) rotate(45deg);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -moz-transform: translate(0, 10px) rotate(45deg);
        opacity: 0;
    }
}

@keyframes fade_move_down {
    0% {
        transform: translate(0, -10px) rotate(45deg);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translate(0, 10px) rotate(45deg);
        opacity: 0;
    }
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    #hero-logo {
        position: relative;
        height: 33.33333vh;
        max-width: 75vw;
        margin-top: 2em;
        margin-bottom: 5em;
    }

    h2 {
        font-family: 'Chakra Petch', sans-serif;
        color: white;
        text-align: center;
        font-weight: 700;
        font-size: 2em;
    }

    h3 {
        margin-top: 1em;
        font-family: 'Muli', sans-serif;
        color: white;
        text-align: center;
        font-weight: 400;
        font-size: 1.2em;
        margin-top: 0em;
    }

    // a {
    //     margin-top: 3em;
    //     font-family: 'Muli', sans-serif;
    //     text-decoration: none;
    //     border: 2px solid white;
    //     border-radius: 50px;
    //     color: white;
    //     padding: 14px 28px;
    //     font-size: 1.2em;
    //     font-weight: 300;
    //     cursor: pointer;
    // }

    .signup {
        text-align: center;
        margin-top: 1em; //white-space: nowrap;
        font-family: 'Muli', sans-serif;

        label {
            display: block;
            margin-bottom: 15px;
            font-size: 1.25em;
        }

        a {
            text-decoration: none;

            &:hover,
            &:focus,
            &:active {
                text-decoration: none;
            }
        }
    }

    .mailinglist-alert {
        font-family: 'Muli', sans-serif;
        text-align: center;
        color: #24e77c;
        margin-top: -4em;
        opacity: 0;
        transition: 0.3s;
    }

    .mailinglist {
        text-align: center;
        margin-top: 5em; //white-space: nowrap;
        font-family: 'Muli', sans-serif;

        label {
            display: block;
            margin-bottom: 15px;
            font-size: 1em;
        }

        input {
            font-family: 'Muli', sans-serif;
            padding: 12px;
            margin-top: .5em;
            border-radius: 50px;
            width: 16em;
            letter-spacing: .3px;
            font-size: 1.05em;
            height: 100%;
            line-height: normal;
            outline: 0;
            border: 0px solid;
        }

        button {
            z-index: 999; //vertical-align: middle;
            font-family: 'Muli', sans-serif;
            transition: .2s;
            border-radius: 50px;
            padding: 10.5px;
            font-weight: 700;
            font-size: 1.12em;
            letter-spacing: .3px;
            height: 100%;
            border: 1px solid #3e81d8;
            background-color: #3e81d8;
            color: white;
            user-select: none;
            cursor: pointer;
        }

        button:hover {
            border: 1px solid #10396e;
            background-color: #10396e;
        }

        // a {
        //     margin-top: 0 !important;
        //     font-family: 'Muli', sans-serif;
        //     text-decoration: none;
        //     border: none !important;
        //     border-radius: 0px;
        //     color: white;
        //     padding: 0 0 !important;
        //     font-size: 1em;
        //     font-weight: 300;
        //     cursor: pointer;
        // }
    }
}

.about {
    font-family: 'Muli', sans-serif; //display: flex;
    margin-top: 1em;

    a {
        text-decoration: none;
        background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%);
        background-repeat: no-repeat;
        background-size: 300% .1em;
        background-position: 0 100%;
        color: white;
        animation: Gradient 1.5s ease infinite;
        animation-play-state: paused;

        @keyframes Gradient {
            0% {
                background-position: 0% 100%
            }

            50% {
                background-position: 100% 100%
            }

            100% {
                background-position: 0% 100%
            }
        }
    }

    :hover {
        animation-play-state: running;
    }

    p {
        margin-top: 2em;
        text-align: center;
        font-family: 'Muli', sans-serif;
        color: #dfdfdf;
        font-size: 1.25em;
        font-weight: 300;
        line-height: 1.5em;
    }

    .map-responsive {
        overflow: hidden;
        padding-bottom: 100%;
        position: relative;
        height: 0;
    }

    .map-responsive iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }

    .about-blurb {
        h1 {
            font-size: 2.5em;
            font-weight: 400;
        }

        align-items: center;
        justify-content: center;
        margin: 5em auto;
        text-align: center;
    }

    .left {
        order: 1; //background: #3d0000;
        flex-basis: 100%;
        height: 100%
    }

    .right {
        order: 2; //background: #6d6d00;
        flex-basis: 100%;
        height: 300px;

        h2 {
            text-align: center;
        }
    }

    .squig-yellow {
        right: 0px;
        top: 1680px;
        max-width: 20%;
        max-height: 20%;
        overflow: hidden;
    }

    .triangle-purple {
        top: 1280px;
        left: -120px;
        display: none;
    }

    .triangle-purple-2 {
        top: 950px;
        left: 50px;
        display: none;
    }
}

#svg {
    margin-top: -5em;
    margin-bottom: -3em;
}

.schedule {
    margin-top: 20em;

    h1 {
        font-family: 'Muli', sans-serif;
        font-weight: 700;
        font-size: 2.25em;
        text-align: center;
        margin-top: 3em;
    }

    h2 {
        font-family: 'Muli', sans-serif;
        font-weight: 700;
        font-size: 1.75em !important;
        color: #dddddd;
        text-align: center;
        margin: 3em auto 0 auto;
    }

    .underline--magical {
        background-image: linear-gradient(135deg, #FEB692 10%, #EA5455 100%);
        background-repeat: no-repeat;
        background-size: 300% .05em;
        background-position: 0 100%;
        animation: Gradient 2s ease infinite;
        animation-play-state: paused;

        @keyframes Gradient {
            0% {
                background-position: 0% 100%
            }

            50% {
                background-position: 100% 100%
            }

            100% {
                background-position: 0% 100%
            }
        }
    }

    :hover {
        animation-play-state: running;
    }

    .x-green {
        top: 1520px;
        display: none;
    }
}

.sponsors {
    margin-top: 10em;
    align-items: center;

    h1 {
        font-family: 'Muli', sans-serif;
        font-weight: 700;
        font-size: 2.25em;
        text-align: center;
    }

    h2 {
        font-family: 'Muli', sans-serif;
        font-weight: 700;
        font-size: 1.75em;
        color: white;
        text-align: center;
    }

    h3 {
        font-family: 'Muli', sans-serif;
        font-weight: 400;
        font-size: 1.25em;
        color: #dddddd;
        text-align: center;

        a {
            text-decoration: none;
            background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
            background-repeat: no-repeat;
            background-size: 300% .1em;
            background-position: 0 100%;
            color: white;
            animation: Gradient 1.5s ease infinite;
            animation-play-state: paused;

            @keyframes Gradient {
                0% {
                    background-position: 0% 100%
                }

                50% {
                    background-position: 100% 100%
                }

                100% {
                    background-position: 0% 100%
                }
            }
        }

        :hover {
            animation-play-state: running;
        }
    }

    .logo {
        padding: 1.5rem;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .justify-content-center {
        justify-content: center !important;
    }

    .img-fluid {
        max-width: 100%;
        max-height: 20vh;
        height: auto;
        transition: 0.3s ease;
    }

    .img-fluid:hover {
        transform: scale(1.05, 1.05);
    }

    .underline--magical {
        background-image: linear-gradient(56deg, #08AEEA 0%, #2AF598 100%);
        background-repeat: no-repeat;
        background-size: 300% .05em;
        background-position: 0 100%;
        animation: Gradient 2s ease infinite;
        animation-play-state: paused;

        @keyframes Gradient {
            0% {
                background-position: 0% 100%
            }

            50% {
                background-position: 100% 100%
            }

            100% {
                background-position: 0% 100%
            }
        }
    }

    :hover {
        animation-play-state: running;
    }

    .circle-pink {
        top: 2200px;
        right: 0px;
        display: none;
    }
}

.faq {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10em;

    h1 {
        font-family: 'Muli', sans-serif;
        font-weight: 700;
        font-size: 2.25em;
        text-align: center;
        margin-bottom: 1em;
    }

    h3 {
        font-family: 'Muli', sans-serif;
        font-weight: 700;
        font-size: 1.5em;
    }

    p {
        margin-top: 0.25em;
        margin-bottom: 2em;
        font-family: 'Muli', sans-serif;
        font-weight: 400;
        font-size: 1.25em;
        line-height: 1.5em;
        padding-right: 2em;
    }

    a {
        text-decoration: none;
        background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%);
        background-repeat: no-repeat;
        background-size: 500% .1em;
        background-position: 0 100%;
        color: white;
        animation: Gradient 1.5s ease infinite;
        animation-play-state: paused;

        @keyframes Gradient {
            0% {
                background-position: 0% 100%
            }

            50% {
                background-position: 100% 100%
            }

            100% {
                background-position: 0% 100%
            }
        }
    }

    :hover {
        animation-play-state: running;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .faq-qa {
        margin-top: 1em;
        position: relative;
        width: 100%;
        min-height: 1px;
    }

    .underline--magical {
        background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
        background-repeat: no-repeat;
        background-size: 300% .05em;
        background-position: 0 100%;
        animation: Gradient 2s ease infinite;
        animation-play-state: paused;

        @keyframes Gradient {
            0% {
                background-position: 0% 100%
            }

            50% {
                background-position: 100% 100%
            }

            100% {
                background-position: 0% 100%
            }
        }
    }

    :hover {
        animation-play-state: running;
    }

    .circle-green {
        top: 3000px;
        left: -120px;
    }
}

.map {
    .resp-container {
        position: relative;
        overflow: hidden;
        padding-top: 75%;
    }

    .resp-iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }

    margin-top: 10em;

    h1 {
        font-family: 'Muli', sans-serif;
        font-weight: 700;
        font-size: 2.25em;
        text-align: center;
        margin-bottom: 1em;
    }

    a {
        text-decoration: none;
        background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%);
        background-repeat: no-repeat;
        background-size: 100% .1em;
        background-position: 0 100%;
        color: white;
    }

    p {
        margin-top: 2em;
        text-align: center;
        font-family: 'Muli', sans-serif;
        color: #dfdfdf;
        font-size: 1.1em;
        font-weight: 300;
        line-height: 1.5em;
    }

    .left {
        order: 1; //background: #3d0000;
        flex-basis: 100%;
        height: 100%;
        max-height: 75vh;
    }

    .right {
        order: 2; //background: #6d6d00;
        flex-basis: 100%;
        height: 100%;

        .alert {
            text-align: center;
            padding: 10px;
            background: #79c879;
            font-size: 1.1em;
            color: #fff;
            margin-bottom: 10px;
            display: none;
            font-family: 'Muli', sans-serif;
        }

        h2 {
            text-align: center;
        }

        form {
            max-width: 300px;
            text-align: center;
            margin: 0 auto;

            input,
            textarea {
                border: 0;
                outline: 0;
                padding: 1em;
                font-size: 1.1em;
                display: block;
                width: 100%;
                margin-bottom: .6em;
                font-family: 'Muli', sans-serif;
                resize: none;
            }

            #input-submit {
                color: white;
                background: #3e81d8;
                cursor: pointer;
            }

            textarea {
                height: 300px;
            }
        }

        /* Clearfix */
        .cf:before,
        .cf:after {
            content: " ";
            /* 1 */
            display: table;
            /* 2 */
        }

        .cf:after {
            clear: both;
        }
    }

    .underline--magical {
        background-image: linear-gradient(to right, #ee0979, #ff6a00);
        background-repeat: no-repeat;
        background-size: 300% .05em;
        background-position: 0 100%;
        animation: Gradient 2s ease infinite;
        animation-play-state: paused;

        @keyframes Gradient {
            0% {
                background-position: 0% 100%
            }

            50% {
                background-position: 100% 100%
            }

            100% {
                background-position: 0% 100%
            }
        }
    }

    :hover {
        animation-play-state: running;
    }
}

footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Muli', sans-serif;
    padding-bottom: 0em;
    padding-top: 5em;

    .footer-content {
        flex-wrap: wrap;
        white-space: nowrap;
        padding-left: 0.25em;
        padding-right: 0.25em;
        margin-bottom: 5em;
        width: 95%;
        display: flex !important;
        justify-content: center;

        a {
            flex: 0;
            padding-left: 0.75em;
            padding-right: 0.75em;
            margin-left: 1em;
            margin-right: 1em;
            margin-top: 0.2em;
            text-transform: uppercase;
            text-decoration: none;
            color: white;
        }
    }
}

@media only screen and (min-width: 320px) {
    .container {
        width: 300px;
    }

    .map {
        .right {
            form {
                textarea {
                    height: 200px;
                }
            }
        }
    }
}

@media only screen and (min-width: 383px) {
    .hero-content {
        .mailinglist {
            input {
                width: 20em;
            }

            button {
                margin-left: -5em;
                padding: 10.6px;
                border-radius: 0 50px 50px 0;
            }
        }
    }
}

@media only screen and (min-width: 473px) {
    .scroll-down {
        display: block;
    }

    .container {
        width: 423px;
    }

    .map {
        .right {
            form {
                max-width: 423px;
            }
        }
    }

    .hero-content {
        .mailinglist {
            input {
                width: 22em;
            }

            button {
                margin-left: -5em;
                padding: 11px;
            }
        }
    }
}

@media only screen and (max-width:999px) {
    .info_svg {
        margin-top: 0%;
        display: block;
        margin: auto;
        float: none;
    }
}

@media only screen and (min-width: 492px) {
    .scroll-down {
        left: 49%;
    }

    .hero-content {
        .mailinglist {
            button {
                padding: 10.58px;
            }
        }
    }

    .schedule {
        margin-top: 10em;
    }

    footer {
        a {
            margin-left: 0em !important;
            margin-right: 0em !important;
        }

        .footer-content {
            margin-bottom: 3em;
        }
    }
}

@media only screen and (min-width: 674px) {
    .container {
        width: 624px;
    }

    .map {
        .right {
            form {
                max-width: 624px;
            }
        }
    }

    .hero-content {
        h2 {
            font-size: 4em;
        }

        h3 {
            font-size: 1.5em;
        }

        a {
            font-size: 1.5em;
        }

        .mailinglist {
            input {
                width: 30em;
            }

            button {
                margin-left: -4em;
            }
        }
    }

    .about {
        p {
            font-size: 1.25em;
        }
    }

    .sponsors {
        .circle-pink {
            top: 2200px;
            right: 0px;
            display: inline;
        }
    }
}

@media only screen and (min-width: 1010px) and (max-width: 1400px) {
    .info_svg {
        margin-top: 13%;
    }
}

@media only screen and (min-width: 1010px) {
    .container {
        width: 960px;
    }

    .map {
        .right {
            form {
                max-width: 423px;

                textarea {
                    height: 90px;
                }
            }
        }
    }

    .about-container {
        flex-wrap: nowrap;
    }

    .map-container {
        flex-wrap: nowrap;
    }

    .about {
        p {
            text-align: left;
        }

        .map-responsive {
            padding-bottom: 56.25%;
        }

        .map-responsive iframe {
            width: 90%;
        }

        .right {
            h2 {
                text-align: left;
            }
        }

        .squig-yellow {
            right: 0px;
            top: 1480px;
            max-width: 25%;
            max-height: 25%;
            overflow: hidden;
        }

        .triangle-purple {
            top: 1280px;
            left: -50px !important;
            display: inline;
        }

        .triangle-purple-2 {
            display: inline;
        }
    }

    .schedule {
        h1 {
            text-align: left;
        }

        h2 {
            font-size: 2em;
        }

        h3 {
            font-size: 1.5em;
        }

        .x-green {
            top: 1520px;
            left: -75px;
            display: inline;
        }
    }

    .sponsors {
        h1 {
            text-align: left;
        }
    }

    .faq {
        h1 {
            text-align: left;
        }

        .faq-qa {
            flex: 0 0 50%;
            max-width: 50%;
        }

        .circle-green {
            top: 3000px;
            left: -20px;
        }
    }

    .map {
        h1 {
            text-align: left;
        }
    }

    footer {
        a {
            margin-left: 1em !important;
            margin-right: 1em !important;
        }
    }
}

@media only screen and (min-width: 1576px) {
    .container {
        width: 1320px;
    }

    .map {
        .right {
            form {
                max-width: 600px;

                textarea {
                    height: 225px;
                }
            }
        }
    }

    .about {
        .map-responsive {
            padding-bottom: 56.25%;
        }

        .triangle-purple {
            top: 1280px;
            left: 0px !important;
        }
    }

    #svg {
        margin-top: -10em; //margin-bottom: -3em;
    }

    .schedule {
        margin-top: 0;
    }
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin-top: 2em;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    font-family: 'Muli', sans-serif;
  }
  
  table tr {
    background-color: #13191E;
    border: 1px solid #2a3944;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }