* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-display: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    font-family: 'Open Sans', sans-serif;
    user-select: none;
    /* Non-prefixed version, currently
                      supported by Chrome and Opera */
                      text-align: center;
    min-height: 100vh;
    margin: 25% auto;
    color: #FFF;
    background: linear-gradient(to right, rgba(20, 30, 48, 0.96), rgba(36, 59, 85, 0.96)), url('../../assets/Hero/scott-webb-388797-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

svg {
    width: 250px;
}

.footer-content {
    margin-top: 2em;
}

h4 {
    margin-bottom: 2em;
}

.underlined {
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%);
    background-repeat: no-repeat;
    background-size: 300% .1em;
    background-position: 0 100%;
}

a {
    color: #fff;
    text-decoration: none;
}

.text {
    margin-top: 2em;
}

@media only screen and (min-width: 350px) {
    svg {
        width: 260px;
    }
}

@media only screen and (min-width: 600px) {
    body {
        margin: 15vh auto;
    }
    svg {
        width: 270px;
    }
}

#insta {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    /* Also define standard property for compatibility */
    -webkit-background-clip-background-clip: text;
    -webkit-text-fill-color: transparent;
}