* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-display: 100%;
    //overflow-x: hidden;
}

body {
    background-color: #131313;
    color: white;
}

img {
    vertical-align: middle;
    border-style: none;
}