@import url("https://fonts.googleapis.com/css?family=Chakra+Petch:700");
@import url("https://fonts.googleapis.com/css?family=Muli:300,400,700");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-display: 100%;
}

body {
  background-color: #131313;
  color: white;
}

img {
  vertical-align: middle;
  border-style: none;
}

.container {
  width: 257px;
  margin: 0 auto;
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.hero {
  background-image: url("/bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 100;
  position: relative;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-content #hero-logo {
  position: relative;
  height: 33.33333vh;
  max-width: 75vw;
  margin-bottom: 2rem;
}

.hero-content h2 {
  font-family: 'Chakra Petch', sans-serif;
  color: white;
  text-align: center;
  font-weight: 700;
  font-size: 2em;
}

.hero-content h3 {
  margin-top: 1em;
  font-family: 'Muli', sans-serif;
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 1.2em;
  margin-top: 0em;
}

.hero-content a {
  margin-top: 3em;
  font-family: 'Muli', sans-serif;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 50px;
  color: white;
  padding: 14px 28px;
  font-size: 1.2em;
  font-weight: 300;
  cursor: pointer;
}

.about {
  font-family: 'Muli', sans-serif;
}

.about p {
  margin-top: 2em;
  text-align: center;
  font-family: 'Muli', sans-serif;
  color: #dfdfdf;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.5em;
}

.about .map-responsive {
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
  height: 0;
}

.about .map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.about .about-blurb {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5em auto;
  text-align: center;
}

.about .about-blurb h1 {
  font-size: 2em;
  font-weight: 400;
}

.about .left {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 100%;
}

.about .right {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 300px;
}

@media only screen and (min-width: 320px) {
  .container {
    width: 300px;
  }
}

@media only screen and (min-width: 476px) {
  .container {
    width: 450px;
  }
  .hero-content h2 {
    font-size: 4em;
  }
  .hero-content h3 {
    font-size: 1.5em;
  }
  .hero-content a {
    font-size: 1.5em;
  }
  .about p {
    font-size: 1.25em;
  }
  .left {
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .right {
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media only screen and (min-width: 820px) {
  .container {
    width: 800px;
  }
  .about-container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .about p {
    text-align: left;
  }
  .about .map-responsive {
    padding-bottom: 56.25%;
  }
  .about .map-responsive iframe {
    width: 90%;
  }
  .left {
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .right {
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
  .about .map-responsive {
    padding-bottom: 56.25%;
  }
}
/*# sourceMappingURL=main.css.map */